* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

:root {
    --first-color: #fff;
    --accent-color: #000000;
    --third-color: #ddd9d9;
    --hover-color: #438a27;
    --sp-color: #33691e;
}

@media (min-width: 200px) {
    nav {
        font-size: 2rem;
        position: sticky;
        padding: 0 2rem;
    }
    header {
        width: 100%;
        z-index: 100;
        color: var(--first-color);
        border-bottom: var(--third-color);
    }
    .navbar-collapse {
        flex-direction: row-reverse;
    }
    .navbar{
        position: fixed; 
        top: 0; 
        width: 100%;
        padding: 1.3rem 1rem; 
        background-color: #fff;
        border-bottom: .1rem solid #d6d1d1;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: var(--accent-color);
        font-size: 1.4rem;
    }
    .navbar-light .navbar-nav .nav-link.active:hover {
        color: var(--sp-color);
    }
    body {
        background-color: var(--first-color);
        color: var(--accent-color);
    }

    section {
        display: grid;
        grid-template-columns: .3fr 2fr .3fr;
    }
    article{
        grid-area: 1 / 2;
    }
    main{
        margin-top: 6rem;
    }
    p{
        font-size: 1.5rem;
    }
    h1, .desc, .info{
        text-align: center;
    }
    h1, h2 {
        font-weight: 800;
        margin: 2rem 0 1.3rem 0;
        text-align: left;
    }
    h1{
        font-size: 2.3rem;

    }
    h2{
        font-size: 1.9rem;
        margin-top: 3rem;

    }
    h3 {
        margin: 1rem 0 2rem 0;
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    .desc{
        font-size: 1.3rem;
    }

    .img-header{
        max-width: 8rem;
    }
    a {
        text-decoration: none;
        color: #8c8fd1;
    }

    h5 {
        margin: 0 0 .8rem 0;
        font-size: 1rem;
    }
    .footerText{
        text-align: center;
        margin: 5rem 0 3rem 0; 
    }
    .shortLinks{
        display: grid;
        margin: 3rem 0;
    }
    .linkDescription, .dollarDiv{
        margin-top: 2rem;
        box-shadow: rgb(196 176 176 / 40%) 0px 2px 8px 0px;
        border-radius: .4rem;
        padding: 2rem;
    }
    .dollarCotizations{
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }
    .dollarDiv{
        width: 100%;
        text-align: center;
    }
    #dollarNow, #dollarBlueNow{
        color: var(--sp-color);
        font-weight: 800;
        font-size: 3rem;
    }
    .banner{
        margin: 2rem 0 0 0;
    }
    .banner img{
        max-width: 30%;
        display: block;
        border-radius: 1rem;
    }

    .seeAllButton, .inputSubmit-style{
        display: grid;
        place-items: center;
        margin: 3rem 0;
        background-color: var(--sp-color);
        color: var(--first-color);
        border-radius: 1.3rem;
        padding: 1rem;
        font-size: 1.2rem;
        border: none;
    }
    .seeAllButton:hover, .inputSubmit-style:hover{
        background-color: var(--hover-color);
    }
    .inputSubmit-style{
        border-radius: 0.5rem;
        margin: 1rem 0;
        border: none;
    }
    #printButton{
        border: none;
        width: 100%;
    }
    #inputPrice{
        font-weight: 500;
        text-align: left;
        border-radius: 1.2rem;
        border-style: none;
        font-size: 2.3rem;
        appearance: none;
        width: 100%;
        color: var(--sp-color);
    }
    #inputPrice:focus{
        outline-style: none;
    }
    #formDollar{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 1rem;
        margin: 0;
    }
    #currency, #currency:focus{
        border: none;
        outline-style: none;   
        font-size: 2rem 
    }
    .formGrid{
        grid-area: 2 / 2;
    }
    .results{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
    .results span, .results p{
        font-size: 1.5rem;
        display: block;
        padding: .3rem 0;
        margin: auto 0;
    }
    .results span{
        margin: auto 0;
    }
    .results p{
        text-align: right;
    }
    
    .notes p{
        text-align: center;
        margin: .4rem 0;
    }
    .total-bold{
        color: var(--sp-color);
        font-weight: 800;
        font-size: 2rem;
    }
}
