@media (min-width: 768px) {

    .navbar{
       padding: 1.4rem 3rem; 
    }
    .linkDescription{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    #formDollar{
        grid-area: 1 / 2;
    }

    .shortLinks{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .dollarCotizations{
        display: grid;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}